body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:#e7eff6;
}

.inputContainer {
    font-style: italic;
    border-radius: 1ch;
    font-size: small;
    padding: 5px 20px;
    border: none;
    width: 30dvh;
    border-style: solid;
    border-color: #4b86b4;
}

button {
    border-radius: 10ch;
    font-size: small;
    border: none;
    border-style: solid;
    border-color: #4b86b4;
}

.submitButton {
    font-style: italic;
    border-radius: 1ch;
    font-size: small;
    padding: 5px 20px;
    border: none;
    min-width: 135px;
    border-style: solid;
    border-color: #4b86b4;
    font-weight: bold;
    color: #2a4d69;
}

button:hover {
    background-color: #4b86b4;
    cursor: pointer;
}

.submitList {
    top: 10px;   
    font-size: large;
    padding: 20px;
}


.toDoContainer {
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
}

.removebutton {
    justify-content: flex;
    height: 100%;
    color: #2a4d69;
    font-weight: bold;
}

.toDoForm {
    height: 30px;
    align-items: center;

}

ul {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    width: 100%;
    justify-content: space-between;
    display: flex;
    border-bottom: solid;
    border-bottom-color:#adcbe3;
    border-width: .5px;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight:bold;
    color: #2a4d69;
}